@import '../../../styles/variable.scss';
$height-input: 34px;
.header-title {
    font-size: 22px;
    white-space: nowrap;
    font-weight: 600;
}

.form-title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    white-space: nowrap;
    font-family: 'Poppins';
    min-width: 150px;
    margin-top: 15px;
}

.form-input {
    width: 488px;
    min-height: $height-input;
    background: #ffffff;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 8px;
    position: relative;
}

.form-table {
    margin-top: 16px;
    margin-bottom: 8px;
    .form-title {
        min-width: 0;
    }
    .table-button {
        background-color: transparent;
        padding: 4px 10px;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-left: 10px;
        white-space: nowrap;
        min-height: 31px;
    }
    .--primary-btn {
        background-color: $primary-color;
    }
    .--secondary-btn {
        color: #333;
        border: 1px solid #333;
    }
    .icon {
        font-size: 20px !important;
        margin-right: 5px;
    }
}

.form-input__password {
    display: inline-flex;
    width: 305px;
    padding: 2px 10px 2px 0;
    .input-btn {
        background-color: transparent;
        svg {
            fill: #000;
        }
    }
}

.form-input-password {
    width: 100%;
    padding: 0 20px;
    min-height: 36px;
}

.form-input-area {
    outline: none;
    height: 100px;
    resize: none;
}

.input-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter {
    margin-top: 5px;
    height: 43px;
    font-size: 14px;
    padding: 0 20px;
    outline: none;
    font-weight: 500;
    border-color: #333;
    margin-right: 20px;
    border-radius: 10px;
    option {
        font-weight: 500;
    }
}

.filter-topic {
    width: 488px;
}

.error-text {
    font-size: 14px;
    margin-top: 5px;
    color: $danger-color;
}

.questions {
    margin-top: 20px;
    .custom-btn {
        background-color: $primary-color;
        padding: 8px 10px;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-left: 10px;
        white-space: nowrap;
    }
    .btn--outlined {
        background-color: transparent;
        border: 1px solid black;
        color: black;
    }
    .btn--outlined-nbg {
        border: 1px solid transparent;
    }
    .icon {
        font-size: 20px !important;
        // margin-right: 5px;
    }
    .icon-img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .rotate {
        transform: rotate(0);
        transition: 0.3s;
    }
    .un-rotate {
        transform: rotate(3.142rad);
        transition: 0.3s;
    }
}

.import-file-dialog {
    .center {
        width: 100%;
        height: 260px;
        border-radius: 3px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .title {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #999;
        text-align: center;
    }
    h1 {
        font-size: 16px;
        font-weight: 300;
        color: #666;
    }
    .drop-zone {
        width: 100px;
        height: 80px;
        border: 1px dashed #999;
        border-radius: 3px;
        text-align: center;
    }
    .upload-icon {
        margin: 25px 2px 2px 2px;
    }
    .icon-brand {
        width: 100%;
        height: 100%;
    }
    .upload-input {
        position: relative;
        top: -62px;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .btn {
        display: block;
        width: 140px;
        height: 40px;
        background: darkmagenta;
        color: #fff;
        border-radius: 3px;
        border: 0;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
    }
}

.text-content {
    font-size: 14px;
    white-space: pre-wrap;
}

.chapter__header {
    min-width: 150px;
    margin-top: 15px;
}

.chapter__action {
    display: flex;
    margin-top: 5px;
}

.chapter__action--mobile {
    display: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 30px auto 0;
}

// BTN
.btn {
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 110px;
    min-height: 31px;
    .icon {
        margin-right: 10px;
        color: #fff;
        font-size: 20px;
    }
}

.btn-primary {
    background-color: $primary-color;
    margin-left: 10px;
}

.btn-outlined {
    border: 1px solid $text-color;
    color: $text-color;
    background-color: #fff;
    margin-left: 10px;
    .icon {
        color: $text-color;
    }
}

// ENDBTN
// asda
.card-header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-title {
        font-size: 14px;
        padding: 0 20px;
        font-weight: 600;
        color: #333333;
    }
}

.flash-card-item {
    // display: flex;
    border-radius: 10px !important;
}

.separate {
    height: 2px;
    width: 100%;
    background-color: #e0e4f6;
}

.separate-text {
    height: 15px;
    width: 1px;
    background-color: $text-muted;
    margin: 0 5px;
}

.content {
    padding: 0 15px;
}

.star-btn {
    .icon {
        font-size: 25px;
    }
}

.icon-delete {
    color: $danger-color;
}

.icon-primary {
    color: $primary-color;
}

.icon-edit {
    color: #3f51b5;
}

.error-message {
    color: $danger-color;
    font-size: 14px;
    padding: 5px 20px;
}

@media only screen and (max-width: 700px) {
    .form-input {
        width: 100%;
        margin-left: 0;
    }
    .form-group {
        align-items: flex-start;
        flex-direction: column;
    }
    .form-title {
        margin-top: 0;
    }
    .filter {
        width: 100%;
        margin-right: 0 !important;
    }
    .form-input__password {
        width: 100% !important;
        margin-top: 20px;
    }
    .filter-topic {
        width: 100%;
        margin-right: 0 !important;
    }
    .chapter__header {
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .chapter__action {
        display: none !important;
    }
    .chapter__action--mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 520px) {
    .header-title {
        white-space: normal !important;
    }
    .card-header {
        .header-title {
            padding: 0 10px !important;
        }
    }
    .content {
        padding: 0 5px !important;
    }
}

//phone
@media only screen and (max-width: 480px) {
    .btn-excel {
        display: none !important;
    }
}