@import '../../../styles/variable.scss';
$height-input: 40px;
.header {
    height: $header-height;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1200;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-avatar-popper {
    .questions-wrapper {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 235px;
    }
    .btn-question {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #ccc;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            background-color: $hover-color !important;
        }
    }
    .--is-choose {
        border-color: #333 !important;
    }
    .--is-selected {
        border-color: $primary-color !important;
    }
    .--is-correct {
        border-color: $success-color !important;
    }
    .--is-wrong {
        border-color: $danger-color !important;
    }
    .questions-footer {
        border-top: 1px solid $hover-color;
    }
    .btn-submit {
        text-align: center;
        width: 100%;
    }
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .label {
        font-size: 16px;
        color: #303545;
        margin-bottom: 0;
        font-family: 'Poppins';
        cursor: text;
    }
    button {
        border: 2px solid #ccc;
        font-size: 14px;
        border-radius: 5px;
        min-width: 80px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        height: 40px;
        padding: 10px 16px;
        text-transform: capitalize;
    }
    .text-number {
        border: 2px solid #ccc;
        height: 40px;
        width: 60px;
        text-align: center;
    }
    .button--active {
        color: $primary-color;
        border: 2px solid $primary-color;
    }
    .button--default {
        border: 2px solid #ccc !important;
    }
}

.header-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 16px;
    font-weight: 600;
}

.filter {
    margin-left: 10px;
    height: $height-input;
    font-size: 14px;
    padding: 0 20px;
    outline: none;
    font-weight: 600;
    option {
        font-weight: 600;
    }
}

.search-wrapper {
    height: $height-input;
    background-color: #fff;
    .search-inner {
        display: flex;
        align-items: center;
        height: calc(100% - 2px);
        padding-right: 12px;
    }
    input {
        min-width: 250px;
        padding: 0 12px;
        font-weight: 600 !important;
        &::placeholder {
            font-weight: 600 !important;
        }
    }
    .input-border {
        width: 100%;
        height: 2px;
        background-color: $separate-color;
    }
}

.wrapper {
    background-color: $bg-layout;
    min-height: calc(100vh - $header-height);
    height: auto;
}

.questions {
    display: flex;
    flex-direction: column;
}

.header-actions {
    .kq-btn {
        background-color: #fff;
        border: 1px solid $primary-color;
        color: #333;
        &:hover {
            background-color: $hover-color;
        }
        .icon {
            width: 20px;
            height: 20px;
        }
    }
}

.main {
    width: 800px;
    margin: $header-height auto 0 auto;
    padding: 20px 0;
    gap: 20px;
    .ending {
        width: 100%;
        text-align: center;
    }
    .ending-btn-submit {
        margin-top: 10px;
        padding: 20px 32px;
        border-radius: 15px;
    }
}

.logo-wrapper {
    height: 40px;
    a {
        font-size: 32px;
        font-weight: 700;
        color: $primary-color;
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.border-primary {
    background-color: $primary-color !important;
}

.btn-success {
    color: $success-color;
}

.btn-warning {
    color: $primary-color;
}

.btn-danger {
    color: $danger-color;
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}