@import '../../../styles/variable.scss';
$header-height: 56px;
.wrapper {
    background-color: $bg-layout;
    min-height: calc(100vh - $header-height);
    height: auto;
    // position: relative;
}

.header {
    height: $header-height;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1200;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    height: 40px;
    a {
        font-size: 32px;
        font-weight: 700;
        color: $primary-color;
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.header-title {
    font-size: 16px;
    font-weight: 600;
}

.header-actions {
    .kq-btn {
        background-color: #fff;
        border: 1px solid $primary-color;
        &:hover {
            background-color: $hover-color;
        }
        .icon {
            width: 20px;
            height: 20px;
        }
    }
}

.main {
    width: 800px;
    margin: $header-height auto;
    padding: 20px 0;
}

.filter {
    margin-top: 5px;
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
    outline: none;
    font-weight: 600;
    max-width: 400px;
    option {
        font-weight: 600;
    }
}

.label {
    font-size: 16px;
    color: #303545;
    margin-bottom: 0;
    font-family: 'Poppins';
    cursor: text;
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    button {
        border: 2px solid #ccc;
        font-size: 14px;
        border-radius: 5px;
        min-width: 80px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        height: 40px;
        padding: 10px 16px;
        text-transform: capitalize;
    }
    .text-number {
        border: 2px solid #ccc;
        height: 40px;
        width: 60px;
        text-align: center;
    }
    .button--active {
        color: $primary-color;
        border: 2px solid $primary-color;
    }
    .button--default {
        border: 2px solid #ccc !important;
    }
}

.dialog {
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $primary-color;
    height: $header-height;
    animation-name: growUp;
    animation-duration: 1s;
}

.dialog-content {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    width: 800px;
    height: 100%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-btn {
    background-color: $primary-color;
    color: white;
    height: 40px;
    width: 100px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-test-result {
    border-radius: 15px;
    padding: 5px 32px;
}

.overview-round {
    font-size: 14px;
    .overview-round-header {
        border-radius: 20px !important;
        .card-header {
            font-size: 20px;
            font-weight: 600;
            color: #333;
        }
        .card-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            color: #333;
            font-weight: 600;
        }
    }
    .header-label {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        padding: 16px 0;
    }
}

.mini-screen {
    .input-search {
        border: 1px solid #ccc;
        width: 100%;
    }
    .search-wrapper {
        display: flex;
    }
    .results {
        margin: 10px 0;
        .result-item {
            padding: 10px 0;
            border-bottom: 1px solid $hover-color;
            cursor: pointer;
            display: block;
            &:hover {
                .result-title {
                    text-decoration: underline;
                }
            }
            .result-sub-text {
                color: $text-muted;
                font-size: 14px;
            }
            .result-title {
                font-size: 20px;
                color: $primary-color;
                font-weight: 600;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .searchSelect {
        position: absolute;
        background-color: rgb(245, 245, 245);
        box-sizing: content-box;
        cursor: pointer;
        height: 19px;
        width: 19px;
        z-index: 2147483647;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(220, 220, 220);
        border-image: initial;
        border-radius: 5px;
        padding: 3px;
        .icon {
            font-size: 30px;
            background-size: 19px;
            height: 19px;
            width: 19px;
        }
    }
}

.--animation-slide {
    animation-name: slide;
    animation-duration: 0.4s;
}

@keyframes slide {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 830px) {
    .main {
        width: 100%;
        padding: 20px 15px;
    }
    .dialog-content {
        width: 100%;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 460px) {
    .flex-mobile {
        align-items: flex-start;
        flex-direction: column;
        .label {
            margin-bottom: 10px;
        }
    }
}